.item-detail{
    display: flex;
    box-sizing: border-box;
    background-color: #2c2c2e;
    padding:10px;
    width: min-content;
}
.div-image{
    position: relative;
}
.div-image .img{
    position: relative;
}
.item-detail img{
    width: 300px;
    height: 430px;
}
.item-detail .cover-img{
    width: 300px;
    height: 70px;
    position: absolute;
    top: 360px;
    background-color: #000;
    opacity: 0.8;
}
.item-detail .btn-select{
    display: flex;
    width: 300px;
    height: auto;
    position: absolute;
    top: 380px;
    justify-content: space-evenly;
}
.btn-select button{
    border: none;
    border-radius: 10px;
    padding:5px 12px;
    font-size: 15px;
    color: #FFF;
}
.blue{
    background-color: #2a90d1;
}
.red{
    background-color: tomato;
}
.green{
    background-color: forestgreen;
}
.info{
    border: 1px solid gray;
    width: 430px;
    height:430px ;
}
.name-film .name{
    font-size: 22px;
    color:#dacb46;
    text-transform: uppercase;
}
.name-film .nameEnglish{
    font-size: 12px;
    color:#FFF;
}
.info-detail{
    width:400px ;
    height: 250px;
    margin: auto;
    background: #2c2929;
    margin-top: 10px;
    border: 3px solid #241c1c;
    color: #FFF;
    line-height: 30px;
    overflow-y: auto;
    font-size: small;
}
.text-different{
    color:#56d3fc;
}
.style-scroll::-webkit-scrollbar{
    width: 6px;
    background-color: gray;
}
.style-scroll::-webkit-scrollbar-thumb {
    background-color: #1a1a1d;
}